.DS_Store

test.js

# Auth Service
/auth/dist
/auth/node_modules
/auth/db_data
/auth/Dockerfile.dev
/auth/docker-compose.yaml
/auth/coverage

# Staff Service
/staff/dist
/staff/node_modules
/staff/db_data
/staff/Dockerfile.dev
/staff/docker-compose.yaml
/staff/coverage

# Driver Service
/driver/dist
/driver/node_modules
/driver/db_data
/driver/Dockerfile.dev
/driver/docker-compose.yaml
/driver/coverage

# Vehicle Service
/vehicle/dist
/vehicle/node_modules
/vehicle/db_data
/vehicle/Dockerfile.dev
/vehicle/docker-compose.yaml
/vehicle/coverage

# Trip Service
/trip/dist
/trip/node_modules
/trip/db_data
/trip/Dockerfile.dev
/trip/docker-compose.yaml
/trip/coverage

# Booking Service
/booking/dist
/booking/node_modules
/booking/db_data
/booking/Dockerfile.dev
/booking/docker-compose.yaml
/booking/coverage

# Graphql Server
/graphql/node_modules
/graphql/dist
/graphql/.env

# Common
/common

# Test
/test

#Infra
/infra/k8s-dev
